				<footer class="site-footer text-light">
					<div class="container">
						<div class="site-footer-inner has-top-divider">
							<div class="brand footer-brand">
								<a href="#">
									<svg width="48" height="32" viewBox="0 0 48 32" xmlns="http://www.w3.org/2000/svg">
										<title>{{ .Site.Title }}</title>
									</svg>
								</a>
							</div>
							{{ partial "nav.html" . }}
							{{ partial "social.html" . }}
							<div class="footer-copyright">&copy; {{ now.Format "2006"}} {{ .Site.Params.authorName | markdownify }}, all rights reserved</div>
						</div>
					</div>
				</footer>