		<header class="site-header">
			<div class="container">
				<div class="site-header-inner">
					<div class="brand header-brand">
						<h1 class="m-0">
							<a href="#">
								<svg width="48" height="32" viewBox="0 0 48 32" xmlns="http://www.w3.org/2000/svg">
									<title>{{ .Site.Title }}</title>
									<img src="images/logo.png">
									<g fill="none" fill-rule="evenodd">
										<rect fill="url(#logo-a)" width="32" height="32" rx="16"/>
										<rect fill="url(#logo-b)" x="16" width="32" height="32" rx="16"/>
									</g>
								</svg>
							</a>
						</h1>
					</div>
				</div>
			</div>
		</header>